input {
  width: 250px;
  height: 35px;
  border: 0px solid black;
  border-radius: 3px;
  padding: 8px;
  box-sizing: border-box;
  font-family: "Montserrat";
  /*background: rgba(155,155,155,0.5);*/
}

label {
  font-family: 'FontAwesome', sans-serif;
  background: #fff;
}

.usuario {
  font-size: 12px;
  border-radius: 5px;
  color: #64C7B5;
}

.contraseña {
  font-size: 12px;
  border-radius: 5px;
  color: #64C7B5;
}

.div_boton {
  margin: 0 auto;
  width: auto;
  text-align: center;
}

.boton {
  height: 40px;
  border: 0px solid black;
  background: rgb(130, 0, 83);
  color: white;
  font-family: "Montserrat";
}

.formulario {
  background-image: url(../images/sunset.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

#error {
    display: none;
}

#perror {
  color: red;
  font-size: 12px;
  font-family: "Montserrat";
  opacity: 1;
}

form {
  margin: 0 auto;
  width: 300px;
  height: 285px;
  padding: 1rem;
  border: 0px solid #CCC;
  border-radius: 6px;
  background-color: rgb(131, 123, 121, 0.3);
  /*background-color: rgb(204, 204, 204, 0.5);
         -- opacity: 50%*/
}

.div_formulario {
  margin: 0 auto;
  width: auto;
  text-align: center;
}

.iniciarSesion {
  font-family: "Montserrat";
  text-align: center;
  color: ghostwhite;
}


a {
  font-family: 'FontAwesome', sans-serif;
  text-decoration: none;
  color: #64c7b5;
}

a:hover {
  color: #cccccc;
}

.registrar {
  font-family: "Montserrat";
  font-size: 13px;
  color: rgba(130, 0, 83);
  padding-left: 25px;
}

.saberMas-popup {
  font-family: "Montserrat";
  font-size: 13px;
  border-radius: 4px;
  width: auto;
  height: auto;
  padding: 15px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  opacity: 0;
  transition: 500ms all;
}

.registrar:hover saberMas {
  outline: none;
  text-decoration: none;
  font-size: 70%;
  color: #000;
  opacity: 1;
}

.cross-popup {
  float: right;
  padding: 4px;
  width: 12px;
  height: 12px;
}

.back {
  float: right;
  padding: 3px;
  width: 15px;
  height: 15px;
}

@media(max-height:600px) {
  .registrar {
    font-family: "Montserrat";
    font-size: 13px;
    color: rgb(130, 0, 83);
    text-align: right;
  }
}

@media(max-width:400px) {

  .back {
    float: right;
    width: 20px;
    height: 20px;
  }

  form {
    width: 100%;
    padding: 0rem;
    padding-bottom: 1rem;
    background-color: rgba(131, 123, 121, 0.7);
  }

  .iniciarSesion {
    font-family: "Montserrat";
    text-align: center;
    color: ghostwhite;
  }

  .boton {
    border: 0px solid black;
    background: rgb(130, 0, 83);
    color: white;
    font-family: "Montserrat";
  }

  .registrar {
    font-family: "Montserrat";
    font-size: 13px;
    color: rgb(130, 0, 83);
    text-align: right;
  }


  .usuario {
    font-size: 12px;
    border-radius: 5px;
    color: #64C7B5;
  }

  .contraseña {
    font-size: 12px;
    border-radius: 5px;
    color: #64C7B5;
  }


  input {
    width: 85%;
    height: 40px;
    border: 0px solid black;
    border-radius: 3px;
    padding: 8px;
    box-sizing: border-box;
    font-family: "Montserrat";
    /*background: rgba(155,155,155,0.5);*/
  }


}
