/* Optional: Makes the sample page fill the window. */
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#parcelas {
    overflow: hidden;
    overflow-y: scroll;
    height: auto;
    min-height: 74px;
    max-height: 40%;
}

header {
    width: auto;
    background-color: rgba(255, 255, 255, 0.5);
}

#extra {
    margin-top: 60%;
    display: block;
}

.contenedor {
    width: auto;
    height: auto;
    display: flex;
    padding-right: 10px;
}

.logoImg img {
    height: 120px;
}

.boton {
    height: 40px;
    border: 0 solid black;
    background: rgb(130, 0, 83);
    border-radius: 3px;
    padding: 8px;
    color: white;
    font-family: "Montserrat";
    transition: all .5s ease;
}


.boton:hover,
.boton:focus,
.boton:active,
.boton:active:focus {
    background-color:lightcoral;
}


.grafica {
    display: none;
    align-items: center;
    align-self: center;
    align-content: center;
    flex-direction: column;
    flex: 1 1 80%;
}

#grafico {
    flex: 0 1 33%;
}

#listaParcelas {
    padding: 1rem;
    text-align: center;
}

#btn-menu {
    display: none;
}

.top-nav {
    display: inline-block;
}

.contenedor #map {
    width: 100%;
    height: 85vh;
    margin: 0 auto;
}

.parcela {
    padding-top: 10px;
    font-size: 18px;
}

@media(max-width:900px) {
    .contenedor {
        flex-direction: column;
        width: 100%;
    }

    .contenedor #map {
        order: -1;
        height: 30vh;
    }

    .contenedor #parcelas {
        order: 1;
        max-height: 106px;
    }


    #extra {
        display: none;
    }
}